trigger:
  branches:
    include:
      - main     # When GitHub main changes -> sync to Azure DevOps https://dev.azure.com/oboyle3patrick/stockwatch/_git/stockwatch

pool:
  vmImage: ubuntu-latest

steps:
  - checkout: self
    fetchDepth: 0

  - script: |
      git config --global user.email "azure-pipeline@devops.com"
      git config --global user.name "AzurePipeline"

      echo "Adding Azure DevOps remote..."
      #git remote add azure https://$(AZURE_PAT)@dev.azure.com/oboyle3patrick/stockwatch/_git/stockwatch

      echo "Pushing GitHub -> Azure DevOps"
      git push azure main --force
    displayName: "Mirror GitHub -> Azure DevOps"
